<div >
  <h5>Schedules</h5>
  <table>
    <thead>
      <th>NAME</th>
      <th>STATUS</th>
      <th>ACTIONS</th>
    </thead>
    <tr>
      <td>Parichart</td>
      <td>interested</td>
      <td>Details</td>
    </tr>
    <tr>
      <td>Pari</td>
      <td>new</td>
      <td>Details</td>
    </tr>
    <tr>
        <td>Parichart</td>
        <td>interested</td>
        <td>Details</td>
      </tr>
      <tr>
        <td>Pari</td>
        <td>new</td>
        <td>Details</td>
      </tr>
      <tr>
          <td>Parichart</td>
          <td>interested</td>
          <td>Details</td>
        </tr>
        <tr>
          <td>Pari</td>
          <td>new</td>
          <td>Details</td>
        </tr>
  </table>
</div>
