<h5>Create New Contact</h5>
<br>
<div class="container ">
  <form (submit)="createContact()">
    <div class="form-row ">
      <div class="form-group col-md-6">
        <label>Firstname</label>
        <input type="text" class="form-control" placeholder="Firstname" name="fname" [(ngModel)]="contact.fname">
      </div>
      <div class="form-group col-md-6">
        <label>Lastname</label>
        <input type="text" class="form-control" placeholder="Lastname" name="lname" [(ngModel)]="contact.lname">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Phone Number</label>
        <input type="text" class="form-control" placeholder="(xxx)-xxx-xxxx" name="phone" [(ngModel)]="contact.phone">
      </div>
      <div class="form-group col-md-6">
        <label>Status</label>
        <select id="inputState" class="form-control" name="status" [(ngModel)]="contact.status">
          <option selected>New</option>
          <option>Subscribed</option>
          <option>Unsubscribed</option>
          <option>Interested</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-8">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="contact.email">
      </div>
      <div class="form-group col-md-4"></div>
    </div>

    <div class="form-group">
      <label>Note</label>
      <input type="text" class="form-control" placeholder="Note..." name="note" [(ngModel)]="contact.note">
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Cancel</button>
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>